$primary-0: #112839;
$primary-1: #1b4871;
$primary-2: #2468a1;
$primary-3: #3183c7;
$primary-4: #63a2d8;
$primary-5: #aad4f5;
$primary-6: #eff8ff;

$neutral-0: #202934;
$neutral-1: #5f6b7a;
$neutral-2: #8795a7;
$neutral-3: #b8c4ce;
$neutral-4: #cfd6de;
$neutral-5: #e1e7eb;
$neutral-6: #f8f9fa;

$success-0: #145139;
$success-1: #197741;
$success-2: #249d58;
$success-3: #38c171;
$success-4: #74d99e;
$success-5: #a8eec0;
$success-6: #e3fcec;

$warning-0: #5c4813;
$warning-1: #8c6d1f;
$warning-2: #d2ad49;
$warning-3: #f3ca64;
$warning-4: #fae29f;
$warning-5: #fdf3d7;
$warning-6: #fffcf4;

$danger-0: #611718;
$danger-1: #891b1b;
$danger-2: #b82020;
$danger-3: #dc2f30;
$danger-4: #e36364;
$danger-5: #f5aaaa;
$danger-6: #fce8e7;
