.app {
  background-image: url("https://res.cloudinary.com/dzpmqwz0e/image/upload/v1573950136/ezgif-2-147013064014.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 70%;
  height: 100vh;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  height: 100%;
}
