@import "~/styles/colors.scss";

.frame {
  padding: 10px 30px 0 30px;
}
.window {
  padding: 30px 0 30px 0;
  background: #fffafa;
  box-shadow: inset 4px 4px 4px #00000040;
  border-radius: 20px;
}

.message {
  padding: 0 30px 30px 30px;
}

.picture {
  max-width: 100%;
}

.helpBar {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5px;
}

.duck {
  width: 45px;
  height: 45px;
  background-image: url("https://res.cloudinary.com/dzpmqwz0e/image/upload/c_scale,w_81/v1573951018/11a2d1874f8861f27b7cb8d61f360ddf.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;
  margin-right: 8px;
}

.help {
  width: 45px;
  height: 45px;
  background-image: url("https://res.cloudinary.com/dzpmqwz0e/image/upload/c_scale,w_81/v1573950805/New_vopros.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;
}

.option {
  width: 100%;
  padding: 20px 0 20px 0;
  text-align: center;
  margin: auto;
  margin-bottom: 18px;
  font-size: small;
  background: #e9e1e1;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card {
  max-width: 80%;
}

.cardRow {
  padding: 0 5px 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  width: 45px;
  height: 45px;
  background-image: url("https://res.cloudinary.com/dzpmqwz0e/image/upload/c_scale,w_81/v1573953044/6cbf5cbc58fe1b80defc1b92bc354a25.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;
  margin-right: 5px;
}

.right {
  width: 45px;
  height: 45px;
  background-image: url("https://res.cloudinary.com/dzpmqwz0e/image/upload/c_scale,w_81/v1573953829/sdf.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;
  margin-left: 5px;
}

.ok {
  width: 45px;
  height: 45px;
  background-image: url("https://res.cloudinary.com/dzpmqwz0e/image/upload/c_scale,w_81/v1573951526/de3e7481374d39dc17900aedf53095c3.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;
  margin-right: 8px;
}

.bar {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
