.bar {
  display: flex;
  justify-content: center;
}

.yes {
  width: 45px;
  height: 45px;
  background-image: url("https://res.cloudinary.com/dzpmqwz0e/image/upload/c_scale,w_81/v1573951526/de3e7481374d39dc17900aedf53095c3.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;
  margin-right: 8px;
}

.no {
  width: 45px;
  height: 45px;
  background-image: url("https://res.cloudinary.com/dzpmqwz0e/image/upload/c_scale,w_81/v1573951384/97dd0489fa11562b5d098adc67cf8d7d.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;
  margin-right: 8px;
}
