@import "~/styles/colors.scss";

.frame {
  padding: 10px 30px 0 30px;
}
.window {
  text-align: center;
  padding: 30px;
  background: #fffafa;
  box-shadow: inset 4px 4px 4px #00000040;
  border-radius: 20px;
}

.message {
  padding-bottom: 30px;
}

.picture {
  max-height: 50vh;
}

.helpBar {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5px;
}

.duck {
  width: 45px;
  height: 45px;
  background-image: url("https://res.cloudinary.com/dzpmqwz0e/image/upload/c_scale,w_81/v1573951018/11a2d1874f8861f27b7cb8d61f360ddf.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;
  margin-right: 8px;
}

.help {
  width: 45px;
  height: 45px;
  background-image: url("https://res.cloudinary.com/dzpmqwz0e/image/upload/c_scale,w_81/v1573950805/New_vopros.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;
}
